.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;

   .container {
      width: var(--default-layout-width);
      border: 1px solid red;
      display: flex;
      .content {
         flex: 1;
         border: 1px solid blue;
      }
   }
}
